:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
 
  * {
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    text-decoration: none;
  }
  .body-filter {
    display: none;
  }

  header {
   display: flex;
   background: var(--color-light-xl);
   padding: 30px 40px; 
  }
   .logo {
    margin: 0;
   }
   .logo-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    text-align: left;
   }
   .logo-subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-dark-3xl);
    padding-top: 10px;
    text-align: center;
    }

    nav {
     align-content: center;
     justify-content: flex-end;
     margin-right: 0;
    }
    .burger {
      display: none;
    }

     .nav-list {
     display: flex;
     text-align: right;
     list-style: none;
     }

     .nav-item {
     padding-left: 35px;
     }
     .nav-link {
     font-family: var(--second-family);
     font-weight: 400;
     font-size: 15px;
     line-height: 160%;
     color: var(--color-dark-l);
     line-height: 30px;
     text-decoration: none;
     }
  
    .nav-link:hover {
     color: var(--color-primary);
     transition: color 0.3s; /*плавное изменение цвета*/
    }

    .nav-link-active {
     font-family: var(--second-family);
     font-weight: 400;
     font-size: 15px;
     line-height: 160%;
     color: var(--color-dark-l);
     border-bottom: 3px solid var(--color-primary);
     padding-bottom: 3px;
     text-decoration: none;
     pointer-events: none; /*неактивная ссылка*/
    }

  main {
    display: flex;
    flex-direction: column;
    background: var(--color-light-l);
    padding: 40px;
  }

  h1 {
    font-family: var(--font-family);
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
text-align: center;
color: var(--color-dark-l);
padding-top: 40px;
padding-bottom: 59px;
}

.pets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 30px;
 
}

.card {
  display: flex;
  flex-direction: column;
    border-radius: 9px;
width: 270px;
row-gap: 30px;
background: var(--color-light-s);
padding-bottom: 30px;
}

.button {
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 10px;
padding-bottom: 40px;

border: 2px solid var(--color-primary);
border-radius: 100px;
padding: 15px 40px;
width: 187px;
height: 52px;

font-family: var(--font-family);
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: var(--color-dark-3xl);

text-decoration: none;
}

h3 {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
letter-spacing: 0.06em;
text-align: center;
color: var(--color-dark-l);
text-align: center;
}

.button-paginator-active {
border-radius: 100px;
background: var(--color-primary);
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
color: var(--color-dark-3xl);
text-decoration: none;

padding: 14px 21px;
  width: 52px;
height: 52px;
}

.button-disabled {
  cursor: not-allowed;
}
.navigation {
  display: flex;
  padding-top: 60px;
  column-gap: 20px;
  padding-bottom: 60px;
  }

  footer {
    background: var(--start-screen-gradient-background);
    padding: 40px 40px 0 40px;
    }

    .footer-content {
      display: flex;
    }

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
width: 302px;
height: 234px;
margin-top: 16px;
margin-bottom: 60px;
margin-left: 0;
margin-right: 138px;
}

.contact-title {
  font-family: var(--font-family);
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: var(--color-light-xl);
margin-left: 0;
}

.contact-item {
  display: flex;
  margin-left: 0;
  text-align: left;
  }

.contact-link {
  font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: var(--color-primary);
padding-left: 1em;
}

.contact-icon {
  vertical-align: center;
  margin: auto;
}

.contact-image {
  margin-right: 0;
}

footer a {
  text-decoration: none;
}

:hover {
  transition: 0.3s;  /*плавное изменение цвета*/
}

.logo>div:hover {
  color: var(--color-primary);
}
.nav-link:hover {
  color: var(--color-primary);
}

.button-paginator:hover {
  cursor: pointer;
  border-radius: 100px;
  background-color: var(--color-primary-light);
}
.button-paginator-active:hover {
 cursor: default;
}

.card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  .button {
  background: var(--color-primary-light);
  transition: 0.3s;
  }
}

.contact-link:hover {
  color: var(--color-light-s);
}

@media (max-width: 1024px) {
  header {
    padding: 4vw;
  }
  
  main {
    padding: 4vw;
  }

    .pets {
      padding: 0 8vw;
     }
    
    h1 {
  padding-top: 6.5vw;
  padding-bottom: 4vw;
  }
  .card:nth-child(7) {
    display: none;
  }
  .card:nth-child(8) {
    display: none;
  }
  .navigation {
    padding-top: 5vw;
    padding-bottom: 5.5vw;
    }

    footer { 
       padding: 3vw 4vw 0 4.5vw;
       }
   
       .footer-content {
         display: flex;
         flex-wrap: wrap;
         margin-right: 0;
       }
       .contact-container {
       width: 302px;
       height: 234px;
       margin-top: 1vw;
       margin-bottom: 0;
       margin-left: 4vw;
       margin-right: 0.5vw;
       }

       .contact-image {
         margin: 0 auto;
         padding-top: 8vw;
       }
  }
  @media (width < 768px) {
    body.noscroll {
      overflow: hidden; /*при вызове popup блокируется прокрутка экрана*/
    }
    .body-filter.active {
      display:block;
      z-index: 10;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: black;
      opacity: 0.4;
    }
    nav {
      position: fixed;
      right: -100%;
      top: 0;
      z-index: 10;
      width: 320px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 30px 20px;
      background-color: var(--color-light-s);
      transition: 0.3s;
      padding-left: 15px;
    }
    nav.open {
      right: 0;
    }
    .nav-list {
      flex-direction: column;
      padding-left: 0;
      padding-top: 58vw;
      justify-content: center;
    }
    .nav-link,
    .nav-link-active {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 32px;
      line-height: 160%;
      color: var(--color-dark-l);
    }
    .nav-item {
      padding: 0 0 42px 0;

    }
    header {
      padding: 9.5vw 6vw;
    }         
     .burger {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        position: fixed;
        top: 46px;
        right: 20px;
        margin: 0;
        cursor: pointer;
        transition: 0.2s;
        
      }
      .burger.active {
        transform: rotate(90deg);
        z-index: 100;
      }
      .bar {
        display: block;
        width: 30px;
        height: 0px;
        margin: 4px 0;
        border: 1px solid var(--color-dark-3xl);
        transition: 0.2s;
      }

  main {
    padding: 42px 10px 37px 10px;
  }
  h1 {
   font-size: 25px;
   padding-top: 0;
   padding-bottom: 13.5vw;
  }
.pets {
  padding: 0;
 }

 
.card:nth-child(4) {
display: none;
}
.card:nth-child(5) {
  display: none;
  }
  .card:nth-child(6) {
    display: none;
    }


  .navigation {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
   padding-top: 43px;
   padding-bottom: 0;
    }
    footer { 
      padding: 30px 10px 0 10px;
      }
  
      .footer-content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        row-gap: 38px;
      }
      .contact-title {
        font-size: 25px;
        text-align: center;
        padding: 0 20px;
      }
      
      .contact-container {
      margin: 0;
      height: 66vw;
      }
      .contact-container:nth-child(2) {
        height: 70vw;
      }
      .contact-item {
        margin: 0 auto;
      }
      .last-item {
        margin-left: 0;
        margin-top: 3vw;
      }
      .contact-image {
        padding: 0;
        margin: 0 auto;
        max-width: 260px;
      }
  
}