@font-face {
    font-family: Creepster;
    src: url("assets/fonts/Creepster-Regular.ttf");
}
@font-face {
    font-family: Qwitcher;
    src: url("assets/fonts/Qwitcher/QwitcherGrypen-Regular.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(88, 85, 85);
}
main {
    display: flex;
    height: 80%;
}
.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1vw;
}
header {
    padding-top: 1vw;
}

h1 {
    font-family: Creepster;
    color: rgb(255, 123, 0);
    text-align: center;
    font-size: 4vw;
}

.achieves-field {
    display: flex;
    flex-direction: column;
    font-family: Creepster;
    font-size: 3.5vw;
    padding-left: 2%;
}

.playing-field {
    width: min(65%, 450px);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    
}

.win-message {
    display: none
}

.memory-card {
    width: 20%;
    aspect-ratio: 2 / 2.8;
    margin: 1%;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    box-shadow: 5px 5px 5px rgb(255, 123, 0);
    cursor: pointer;

}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.front-face,
.back-face {
    max-width: 100%;
    min-height: 100%;
    position: absolute;
}

.back-face.open-card{
    opacity: 0;
    filter: brightness(5);
    transition: .3s;
}
.new-game-button {
    display: none;
}
.win-field.ifWin {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.win-message.ifWin {
    display: inline-block;
    font-family: Creepster;
    margin: auto;
    color: white;
    font-size: 5vw;
}
.new-game-button.ifWin {
    display: block;
    padding: 10px;
    border: 3px solid orange;
    font-family: Creepster;
    border-radius: 3px;
    font-size: 2vw;
    margin: 2vw;
    cursor: pointer;

}
.playing-field.ifWin {
    
    background-image: url(assets/img/IMG_3771.JPG);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;

    .memory-card {
        display: none;
    }
}


footer a,
footer time {
    text-decoration: none;
    font-family: Qwitcher;
    font-size: 1.5em;
    color: white;
    
}
footer div {
    padding-left: 2%;
}
footer {
    align-content: center;
    display: flex;
    margin-top: 1%;
    padding-left: 3%
}
