@font-face {
    font-family: Creepster;
    src: url("assets/fonts/Creepster-Regular.ttf");
}
@font-face {
    font-family: Qwitcher;
    src: url("assets/fonts/Qwitcher/QwitcherGrypen-Regular.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(151, 149, 149);
}

h1 {
    font-family: Creepster;
    color: rgb(235, 64, 64);
    text-align: center;
}

main {
    display: flex;
}

.playing-field {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;    
}
.score-field {
    display: flex;
    flex-direction: column;
  
}
.cards-field {
    width: 360px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}
.memory-card {
    width: 80px;
    height: 100px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.front-face,
.back-face {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

    
}
.back-face {
    display: none;
}


footer a {
    text-decoration: none;
    font-family: Qwitcher;
}