:root {
	--color-light-xl: #fff;
	--color-light-l: #f6f6f6;
	--color-light-s: #fafafa;
	--color-dark-s: #cdcdcd;
	--color-dark-m: #b2b2b2;
	--color-dark-l: #545454;
	--color-dark-xl: #4c4c4c;
	--color-dark-2xl: #444;
	--color-dark-3xl: #292929;
	--color-primary: #f1cdb3;
	--color-primary-light: #fddcc4;
	--start-screen-gradient-background: #211f20;
	--footer-gradient-background: #211f20;
}

:root {
    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
    --third-family: "Inter", sans-serif;
  }

  html {
    scroll-behavior: smooth; 
  }

  body {
    min-height: 100vh;
    margin: 0 auto;
    
  }

* {
    box-sizing: border-box;
	/*outline: 2px solid deeppink;/*видимые границы*/
}
  
  .header {
height: 60px;
width: 1200px;
margin: 30px 40px auto;
display: flex;
justify-content: space-between; 
line-height: 2em;
  }

  .logo-title {
	color: var(--color-primary);
	font-family: var(--font-family);
	font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
  }
  .logo-subtitle {
	font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
    text-align: center;
  }

  .nav-list {
	display: flex;
	width: 443px;
	height: 60px;
	justify-content: space-between;
    list-style: none;
	align-items: center;

  }

  .nav-item {
	font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
  }

  .nav-link {
text-decoration: none;
  }

  .start-screen-section {
    display: flex;
    justify-content: flex-start;
    background: url(../../assets/images/start-screen-background.jpg) no-repeat;
    padding: 180px 40px 0;
    margin: -90px 0 0;
 
  }
.start-screen {
  width: 39%;
  align-content: flex-start;
  padding-top: 10.2em;
}
  h1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
    width: 310px;
  }

  .start-screen-subheading {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 155%;
    color: var(--color-dark-s);
    padding-top: 2.9em;
    padding-right: 2em;
    padding-bottom: 2.9em;
    
  }

  .button-primery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 100px;
    padding: 15px 40px;
    width: 207px;
    height: 52px;
    background: var(--color-primary);

    font-family: var(--font-family);
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: var(--color-dark-3xl);
  }

  .start-screen-puppy {
    padding-left: 7px;
    
  }